.hb-bet-confirm-img-box img {
    width: 300px;
}

.hb-table-box {
    width: 35em;
    background-color: var(--hb-bg-light);
    padding: 0.5em 1em;
    border-radius: 20px;
    display: grid;
    gap: 0.6em;

    & div {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: auto 1fr;
        gap: 0.5em;
    }
}

/***** Responsive css starts here *****/
@media screen and (max-width: 625px) {
    .hb-table-box {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .hb-bet-confirm-img-box img {
        width: 70vw;
    }
}

/***** End Responsive css starts here *****/